<form action="/session" method="POST">
    <div>
    name: <input type="text" name="name" value="">
    </div>
    <div>
    email: <input type="text" name="email" value="">
    </div>
    <div>
    password: <input type="password" name="password" value="">
    </div>
    <input type="submit" value="ログイン"
    </div>
</form>


