<form action="/new" method="POST">
    <div>
    name: <input type="text" name="name" value="">
    </div>
    <div>
    description: <input type="text" name="description" value="URLサイトの概要">
    </div>
    <div>
    url: <input type="text" name="url" value="">
    </div>
    <div>
     <input type="submit" value="登録">
    </div>
</form>

<a href="/">戻る</a>
